<ion-view title="Recover Password">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input name="user_email" type="email" placeholder="john@doe.com">
              </label>
            </div>
            <button class="button button-stable button-block">Recover Password</button>
        </form>
    </ion-content>
</ion-view>