<ion-view title="Register">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input name="user_email" type="email" placeholder="john@doe.com">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input name="user_password" type="password" placeholder="Password">
              </label>
            </div>
            <button class="button button-stable button-block">Create Account</button>
        </form>
    </ion-content>
</ion-view>