<ion-view title="Treatments List">

    <ion-nav-bar class="bar bar-header"align-title="center">
        <ion-nav-back-button class="button-icon icon ion-android-arrow-back">
            Back
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a href="#/new_treatment" class="button-icon icon ion-plus-round"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="true" scroll="true" class="has-header">
        <ion-list class="list">
            <ion-item ng-repeat="item in user.treatments">

            <div class="item">
                <h2>
                    <i class="icon ion-beaker"></i>
                    Description:
                </h2>
                <textarea name="treatment_description">{{item.description}}</textarea>
                </br>
                <ul class="list">
                    <li>
                        <label class="">
                            Starts: {{item.start_date | amDateFormat:'dddd, MMMM Do YY'}}
                        </label>
                    </li>
                    <li>
                        <label class="">
                            Ends: {{item.end_date | amDateFormat:'dddd, MMMM Do YY'}}
                        </label>
                    </li>
                </ul>
            </div>
            <h5 style="position: absolute; right: 5px; top: 5px;" align="right">{{$index + 1}}</h5>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>